{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "eslint:all",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "func-style": [2, "declaration", { "allowArrowFunctions": true }],
    "linebreak-style": 0,
    "no-magic-numbers": 0,
    "padded-blocks": 0,
    "valid-jsdoc": 0
  }
}
